[
    {
        "longitude": "21.234456",
        "name": "PORTAL",
        "locationName": "Patras,GR",
        "mode": "ACTIVE",
        "apikey": "53f7118f-66bf-4351-a409-22e37f89b36a",
        "checkURL": "https://portal.5ginfire.eu/Footer.html",
        "type": "SERVICE",
        "latitude": "38.220220",
        "onIssueNotificationProduct": "Platform",
        "onIssueNotificationComponent": "Portal",
        "description": "Portal Component",
        "failoverThreshold": 10
    },
        {
        "longitude": "21.234456",
        "name": "PORTAL API",
        "locationName": "Patras,GR",
        "mode": "ACTIVE",
        "apikey": "53f7118f-66bf-4351-a409-22e37f89b36a",
        "checkURL": "https://portal.5ginfire.eu/5ginfireportal/services/api/repo/categories",
        "type": "SERVICE",
        "latitude": "38.220220",
        "onIssueNotificationProduct": "Platform",
        "onIssueNotificationComponent": "Portal",
        "description": "Portal Component",
        "failoverThreshold": 10
    },
        {
        "longitude": "21.234456",
        "name": "PORTAL BUGZILLA",
        "locationName": "Patras,GR",
        "mode": "ACTIVE",
        "apikey": "53f7118f-66bf-4351-a409-22e37f89b36a",
        "checkURL": "https://portal.5ginfire.eu/bugzilla/rest.cgi/bug/1",
        "type": "SERVICE",
        "latitude": "38.220220",
        "onIssueNotificationProduct": "Platform",
        "onIssueNotificationComponent": "Portal",
        "description": "Portal Component",
        "failoverThreshold": 10
    },
        {
        "longitude": "21.234456",
        "name": "wiki",
        "locationName": "Patras,GR",
        "mode": "ACTIVE",
        "apikey": "53f7118f-66bf-4351-a409-22e37f89b36a",
        "checkURL": "http://wiki.5ginfire.eu/",
        "type": "SERVICE",
        "latitude": "38.220220",
        "onIssueNotificationProduct": "Platform",
        "onIssueNotificationComponent": "Portal",
        "description": "Portal Component",
        "failoverThreshold": 10
    },
    {
        "longitude": "21.234456",
        "name": "OSM",
        "locationName": "Madrid,ES",
        "mode": "PASSIVE",
        "apikey": "5265fb58-ad9b-4511-a60c-b82cc5fbbdac",
        "onIssueNotificationProduct": "Platform",
        "onIssueNotificationComponent": "Connectivity",

        "checkURL": null,
        "type": "SERVICE",
        "latitude": "36.220220",
        "description": "OSM Component",
        "failoverThreshold": 20
    },
    {
        "longitude": "21.234456",
        "name": "BRISTOL",
        "locationName": "Bristol,UK",
        "status": "UP",
        "mode": "PASSIVE",
        "apikey": "5265fb58-ad9b-4511-a60c-b82cc5fbb809",
        "onIssueNotificationProduct": "Infrastructures",
        "onIssueNotificationComponent": "Bristol testbed",
        "checkURL": null,
        "type": "VIM",
        "latitude": "36.220220",
        "description": "BRISTOL VIM",
        "failoverThreshold": 60
    }
]