<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:cxf="http://cxf.apache.org/core" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd  http://www.springframework.org/schema/util  http://www.springframework.org/schema/util/spring-util.xsd  http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<context:property-placeholder />
	<context:annotation-config />
	<bean
		class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer" />
	<bean
		class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer" />
	
	<bean id="repositoryBean" class="healthcheck.model.HCRepository">
	</bean>

	<!-- CXF Swagger2Feature -->
	<bean id="swagger2Feature" class="org.apache.cxf.jaxrs.swagger.Swagger2Feature">
		<!-- customize some of the properties -->
		<property name="basePath" value="/api/swaggerSpec" />
		<property name="contact" value="tranoris@ece.upatras.gr" />
		<property name="scanAllResources" value="true" />		
	</bean>

	<jaxrs:server id="services" address="/api/">
		<jaxrs:serviceBeans>

			<bean class="healthcheck.api.HealthcheckAPI">
				<property name="hcRepository" ref="repositoryBean" />

			</bean>

		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider" />
			<!-- bean class="org.apache.cxf.rs.security.cors.CrossOriginResourceSharingFilter"/ -->
		</jaxrs:providers>

		<jaxrs:inInterceptors>
			<!-- <ref bean="basicAuthValidator"/> -->
		</jaxrs:inInterceptors>
		<jaxrs:features>
			<ref bean="swagger2Feature" />
		</jaxrs:features>

	</jaxrs:server>

	

	


  <camelContext id="camelContext" xmlns="http://camel.apache.org/schema/spring">
    <package>healthcheck.routes</package>    
    <package>centralLog.api</package>    
  </camelContext>
  
  <bean id="busController" class="healthcheck.util.BusController">
	<property name="actx" ref="camelContext" />
  </bean>
	
  <bean id="centralLogger" class="centralLog.api.CentralLogger">
	<property name="actx" ref="camelContext" />
  </bean>
  
  <!-- lets configure the default ActiveMQ broker URL -->
  <bean id="jms" class="org.apache.camel.component.jms.JmsComponent">
    <property name="connectionFactory">
      <bean class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="vm://localhost?broker.persistent=false&amp;broker.useJmx=true"/>
      </bean>
    </property>
  </bean>

</beans>
